.movies__list {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 18px;
    grid-row-gap: 35px;
    margin-top: 32px;
}

.spin {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

.movies__pagination {
    margin-top: 30px;
    text-align: center;
}

.ant-pagination {
    display: inline-block;
}

.ant-tabs-tab {
    margin: 0;
    padding: 12px;
}

.ant-tabs-top > .ant-tabs-nav {
    margin: 0 auto 16px auto;
}

.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
    padding:  16px;
}

.ant-tabs-tab-btn {
    font-size: 16px;
}

.ant-tabs-tabpane {
    padding: 13px;
}


@media (max-width: 970px) {
    .movies__list {
       grid-template-columns: 100%; 
    }
}