.movies__list {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 35px;
    margin-top: 32px;
}

.spin {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}