.movie {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto 2fr 30px;
    position: relative;
    height: 281px;
    width: 454px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.movie__poster {
    margin-bottom: 10px;    
}

.movie__img, .ant-skeleton-element, .ant-skeleton-element .ant-skeleton-image{
    width: 100%;
    height: 100%;
}

.movie__details {
    padding: 12px 20px;
    max-height: 281px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie__name {
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    line-height: 24px;
    max-height: 150px;
    overflow: auto;
}

.movie__name::-webkit-scrollbar {
    width: 5px;
}

.movie__date {
    display: block;
    color: #827E7E;
    margin-bottom: 9px;
}

.movie__rate {
    margin: 0 auto;
    margin-top: -5px;
}

@media (max-width: 970px) {
    .movie { 
        margin: 0 auto;
    }
}

@media (max-width: 327px) {

    .movie__name {
        font-size: 4.7vw;
    }

    .movie__rate {
        grid-column: 1 / -1;
    }
}

@media (max-width: 420px) {

    .movie {
        max-height: 245px;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto auto 30px;
    }

    .movie__name {
        margin-right: 30px;
    }

    .movie__details {
        padding: 5px 13px;
    }

    .movie__rate { 
        margin-right: 10px;
        grid-column: 2;
    }
}

@media (max-width: 520px) {

    .movie { 
        width: 100%;
    }

    .movie__name {
        font-size: 15px;
        line-height: 20px;
    }
}

@media (min-width: 421px ) {

    .movie__name {
        margin-right: 30px;
    }

    .movie__details {
        padding: 5px 13px 0;
    }

    .movie__poster {
        height: 100%;
        grid-column: 1;
        grid-row: 1 / -1;
    }
}

@media (min-width: 421px ) and (max-width: 500px) {
    .movie__name {
        line-height: 4vw;
        margin-bottom: 5px;
    }
}