* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

body {
  background-color: #E5E5E5;
}

#root {
  max-width: 1010px;
  min-height: 1173px;
  margin: 0 auto;
  background-color: white;
  padding: 19px;
}

@media (max-width: 420px) {
  #root {
      padding: 0;
  }
}

@media (max-width: 327px) {
  * {
      font-size: 3.4vw;
      line-height: 6.5vw;
  }
}

@media (max-width: 469px) {
  * {
      font-size: 11.5px;
  }
}