* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

body {
  background-color: #E5E5E5;
}

#root {
  max-width: 1010px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 19px;
}